:host {
  width: 100%;
  max-width: 1000px;
}

.page {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
  font-family: system-ui;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.btn {
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #1d4ed8;
}

/* GRID DE CARDS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
}

.card-content img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  /* border-radius: 8px; */
  margin-bottom: 5px;
  display: block;
  background: #f3f4f6;
}

.title {
  margin: 0 0 10px;
  font-size: 17px;
  font-weight: 600;
  color: #111827;
}

.meta {
  font-size: 13px;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.thumb-wrap {
  display: flex;
  flex-direction: column;
}

.progress {
  height: 6px;
  width: 100%;
  background: #e5e7eb; /* gris claro */
  overflow: hidden;
  margin-top: -6px; /* pega la barra a la imagen si quieres */
  margin-bottom: 8px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #ff2020; /* azul */
  transition: width 0.25s ease;
}
